{% extends '@Mobicoop/base.html.twig' %}
{# LOAD  #}
{% block title %}{% trans from 'meta' %}meta.publish.title{% endtrans %}{{ app_name }}{% endblock %}
{% block desc %}{% trans from 'meta' %}meta.publish.description{% endtrans %}{% endblock %}
{% block stylesheets %}
  {#{{ encore_entry_link_tags("#{assets_prefix ?? ''}carpool/publish") }}#}
{% endblock %}
{% block main %}
  <ad-publish
    geo-search-url="{{ geoCompleteUri }}"
    :user="{{app.user|json_encode}}"
    :default-price-km="{{ priceKm }}"
    :default-margin-duration="{{ marginDuration }}"
    :map-provider="{{ mapProvider|json_encode }}"
    :url-tiles="{{ urlTiles|json_encode }}"
    :attribution-copyright="{{ attributionCopyright|json_encode }}"
    :community-ids="{{ communityIds is defined ? communityIds|json_encode : 'null' }}"
    :init-origin = "{{ origin is defined ? (origin ? origin : 'null') : 'null' }}"
    :init-destination = "{{ destination is defined ? (destination ? destination : 'null') : 'null' }}"
    init-date = "{{ date is defined ? date : '' }}"
    init-time = "{{ time is defined ? time : '' }}"
    :init-regular = "{{ regular is defined ? (regular ? 'true' : 'false') : 'false' }}"
    :first-ad = "{{ firstAd is defined ? (firstAd ? 'true' : 'false') : 'false' }}"
    :solidary-exclusive-ad = "{{ solidaryExclusiveAd is defined ? (solidaryExclusiveAd ? 'true' : 'false') : 'false' }}"
    :default-prices-ranges = "{{ pricesRange|json_encode }}"
    :default-time-precision="{{ timePrecision }}"
    :participation-text = "{{ participationText ? "true" : "false" }}"
    :age-display  = "{{ ageDisplay ? "true" : "false" }}"
    :event-id = "{{ eventId is defined ? (eventId ? eventId : 'null') : 'null' }}"
    :geo-complete-results-order="{{geoCompleteResultsOrder|json_encode}}"
    :geo-complete-palette="{{geoCompletePalette|json_encode}}"
    {{ geoCompleteChip ? 'geo-complete-chip' : '' }}
    :seat-number = "{{ seatNumber }}"
    :default-seat-number = "{{ defaultSeatNumber }}"
    :content-passenger = "{{ contentPassenger ? "true" : "false"}}"
    {{ staggeredSchedulesAllowed ? 'staggered-schedules-allowed' : '' }}
    :default-digital-clock="{{ defaultDigitalClock ? 'true' : 'false' }}"
    :specific-terms="{{ specificTerms ? "true" : "false" }}"
  />
{% endblock %}
